html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(244,244,244);
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 1rem;
}

small {
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    max-width:1000px;
    padding: 40px;
}

.title {
    font-size: 4.4rem;
    text-align: center
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: lightgrey;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.search-form > * {
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

input {
    border-radius: .5rem;
    width: 100%;
    padding: 0 .25rem;
    border: none;
    height: 2rem;
    font-size: 1.5rem;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    min-width: 250px;
    width: calc(33.33% - 1rem);
    text-align: center;
    background: tomato;
    color: ivory;
    border-radius: .5rem;
    padding: 1rem;
}

.card__img {
    max-width: 100%;
    margin-bottom: .5rem;
}

.card__desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}